### Python
*.py[cod]

### Project
.buildpath
.directory
.project
.pydevproject
.SaveConfig
Android
Certificates
PyHouse.egg-info
lock
minimal
doc/html

### Dirs
admin/config/Xml/
admin/config/Entity/
build/
dist/
html/
*/Ideas/
latex/
.settings/
_trial_temp/
.mypy_cache/

### Private Info
Laptop*

### END DBK