### Python
*.py[cod]

### Project
.buildpath
.directory
.project
.pydevproject
.SaveConfig
Android
Certificates
PyHouse.egg-info
lock
minimal
doc/html

### Dirs
admin/config/*.xml
build/
dist/
html/
*/Ideas/
latex/
.settings/

### END DBK