<!-- PyHouse/src/web/templates/controlLightsElement.html
 -->
<div id='ControlLightsDiv'
    xmlns:athena='http://divmod.org/ns/athena/0.7'
	xmlns:nevow='http://nevow.com/ns/nevow/0.1'
	nevow:render='liveElement'
	class="ControlLights">

    <div class='lcars-container' >
        <div id='SelectionButtonsDiv'></div>
        <div id='DataEntryDiv'></div>
    </div>


</div>
<!--
    <div id='ControlLightButtonsDiv'>
        <h2>Select a light to control:</h2>
        <div id='ControlLightTableDiv'></div>
    </div>
    <div id='ControlLightEntryDiv'>
        <h2>Select the light level:</h2>
        <table style='Width: 100%;'>
            <tr id='NameRow'><td>Name</td><td><div id='NameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='KeyDiv'></div></td>
                <td><div id='UUIDDiv'></div></td>
            </tr>
            <tr id='RoomNameRow'><td>Room</td><td><div id='RoomNameDiv'></div></td></tr>
            <tr id='LevelRow'><td>Level</td><td><div id='LevelDiv'></div></td>
            </tr>
        </table>
        <div id='ControlLightEntryButtonsDiv'></div>
    </div>
### END DBK -->
