<!-- PyHouse/src/Modules/Web/template/houseSelectElement.html
 -->
<div id='HouseSelectDiv' xmlns:nevow="http://nevow.com/ns/nevow/0.1"
	xmlns:athena='http://divmod.org/ns/athena/0.7'
	nevow:render="liveElement"
	class="HouseSelect">

	<div id='HouseSelectButtonsDiv' class='lcars-container'>

        <!-- TOP ROW - Elbows & DIVIDER-->
        <div class='lcars-row spaced'>

            <div id='HouseSelectTableDiv'></div>
        </div>
	</div>

	<div id="HouseSelectedDiv"></div>
</div>
<!--
### END DBK -->
