<!-- PyHouse/src/Modules/Web/template/internetElement.html
-->
<div id='InternetDiv'
    xmlns:athena='http://divmod.org/ns/athena/0.7'
    xmlns:nevow='http://nevow.com/ns/nevow/0.1'
    nevow:render='liveElement'
    class='Internet'>
    <div id='InternetButtonsDiv'>
        <h2>Select a Button (or Add):</h2>
        <table style='Width: 60%;'>
            <tr id='ExtIpRow'><td>External IP</td><td><div id='ExtIpDiv'></div></td></tr>
            <tr id='UrlRow1'><td>IP Discovery URL #1</td><td><div id='UrlDiv1'></div></td></tr>
            <tr id='UrlRow2'><td>IP Discovery URL #2</td><td><div id='UrlDiv2'></div></td></tr>
            <tr id='UrlRow3'><td>IP Discovery URL #3</td><td><div id='UrlDiv3'></div></td></tr>
            <tr id='DynDnsUrlRow1'><td>DynDns URL #1</td><td><div id='DynDnsUrlDiv1'></div></td></tr>
            <tr id='DynDnsUrlRow2'><td>DynDns URL #2</td><td><div id='DynDnsUrlDiv2'></div></td></tr>
            <tr id='DynDnsUrlRow3'><td>DynDns URL #3</td><td><div id='DynDnsUrlDiv3'></div></td></tr>
        </table>
		<div id='InternetTableDiv'>
		</div>
    </div>
    <div id='InternetEntryDiv'>
        <div id='InternetEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->