<!-- PyHouse/src/web/templates/loginElement.html
 -->
<div id='LoginDiv'
	xmlns:athena='http://divmod.org/ns/athena/0.7'
	xmlns:nevow='http://nevow.com/ns/nevow/0.1'
	nevow:render='liveElement'
	class="login">
	<div id='LoggingInDiv'>
	    <form id="LoginForm">
			<athena:handler event="onsubmit" handler="doLoginSubmit" />
			<div class='Bar1' style='background-color: #FFDD00;'></div>
            <table>
                <tr>
                    <td><div>Enter login name:</div></td>
                </tr>
                <tr><td>User Name:</td><td><input class='Button1' id='LoginName' /></td></tr>
                <tr><td>Password:</td><td><input class='Button1' id='LoginPassword' type='password' /></td></tr>
            </table>
			<input class='Button2' type='submit' value='Login' />
	    </form>
	</div>
	<div id="LoggedInDiv"></div>
</div>
<!-- ### END DBK  -->
 