<!-- PyHouse/src/Modules/Web/template/thermostatElement.html
-->
<div id='ThermostatDiv'
    xmlns:athena='http://divmod.org/ns/athena/0.7'
    xmlns:nevow='http://nevow.com/ns/nevow/0.1'
    nevow:render='liveElement'
    class='Thermostat'>


    <div id='ThermostatButtonsDiv'>
        <h2>Select a Button (or Add):</h2>
        <table style = 'Width: 60%;'>
            <tr id='UrlRow'><td>IP Discovery URL</td><td><div id='UrlDiv'></div></td></tr>
            <tr id='ExtDelayRow'><td>IP Discovery Delay</td><td><div id='ExtDelayDiv'></div></td></tr>
            <tr id='ExtIpRow'><td>External IP</td><td><div id='ExtIpDiv'></div></td></tr>
        </table>
		<div id='ThermostatTableDiv'>
		</div>
    </div>
    <div id='ThermostatEntryDiv'>
        <h2>Enter Thermostat data (or Delete)</h2>
        <table style = 'Width: 60%;'>
            <tr id='NameRow'><td>Name</td><td><div id='DynDnsNameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='DynDnsKeyDiv'></div></td></tr>
            <tr id='ActiveRow'><td>Active</td><td><div id='DynDnsActiveDiv'></div></td></tr>
        </table>
        <div id='ThermostatEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->
