<!-- controllersElement.xml
-->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = 'Controllers'
    id = 'ControllersDiv'
    style = 'background-color: #d2f2d2;'>
    <div id='ControllerButtonsDiv'>
       <h2>Select a Controller (or Add):</h2>
       <div id='ControllerTableDiv'>
       </div>
    </div>
    <div id='ControllerEntryDiv'>
        <h2>Enter Controller data (or Delete)</h2>
		<table id='ControllerEntryTable' style = 'Width: 100%;'>
            <tr id='nameRow'><td>Name</td><td><div id='NameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='KeyDiv'></div></td>
                <td><div id='UUIDDiv'></div></td></tr>
            <tr id='ActiveRow'><td>Active</td><td><div id='ActiveDiv'></div></td></tr>
            <tr id='TypeRow'><td>Type</td><td><div id='TypeDiv'></div></td></tr>
            <tr id='FamilyRow'><td>Family</td><td><div id='FamilyDiv'></div></td></tr>
		    <tr id='DimmableRow'><td>Dimmable</td><td><div id='DimmableDiv'></div></td></tr>
            <tr id='RoomNameRow'><td>Room</td><td><div id='RoomNameDiv'></div></td></tr>
            <tr id='CoordsRow'><td>Coords</td><td><div id='CoordsDiv'></div></td></tr>
            <tr id='CommentRow'><td>Comment</td><td><div id='CommentDiv'></div></td></tr>
            <tr id='InterfaceRow'><td>Interface</td><td><div id='InterfaceDiv'></div></td></tr>
            <tr id='PortRow'><td>Port</td><td><div id='PortDiv'></div></td></tr>
        </table>
        <table id='FamilyEntryTable' style = 'Width: 100%;'>
            <tr id='InsteonAddressRow'><td>InsteonAddress</td><td><div id='InsteonAddressDiv'></div></td></tr>
        </table>
        <table id='InterfaceEntryTable' style = 'Width: 100%;'>
            <tr id='BaudRateRow'><td>BaudRate</td><td><div id='BaudRateDiv'></div></td></tr>
        </table>
        <div id='ControllerEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->