<!-- controlLightsElement.xml
 -->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = "controlLights"
    name = 'controlLightsDiv'
    id = 'controlLightsDiv'
    style = "background-color: #c2f2c2;">

	<h2>Select the Light to control:</h2>
	<form name = 'controlLightsForm' >
	    <table style = 'Width: 100%' border = '0'>
	        <tr>
	            <input type = 'submit' value = 'Cancel' name = 'post_btn' />
	            <input type = 'submit' value = 'Back' name = 'post_btn' />
	        </tr>
	    </table>
	</form>
</div>
<!--
### END DBK -->
