<!-- PyHouse/src/web/templates/controllersElement.html
-->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = 'Controllers'
    id = 'ControllersDiv' >
    <div id='ControllerButtonsDiv'>
       <h2>Select a Controller (or Add):</h2>
       <div id='ControllerTableDiv'>
       </div>
    </div>
    <div id='ControllerEntryDiv'>
        <h2>Enter Controller data (or Delete)</h2>
		<table id='ControllerEntryTable' style = 'Width: 60%;'>
            <tr id='nameRow'><td>Name</td><td><div id='NameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='KeyDiv'></div></td>
                <td><div id='UUIDDiv'></div></td></tr>
            <tr id='ActiveRow'><td>Active</td><td><div id='ActiveDiv'></div></td></tr>

            <tr id='TypeRow'><td>Type</td><td><div id='TypeDiv'></div></td></tr>
            <tr id='FamilyRow'><td>Family</td><td><div id='FamilyDiv'></div></td></tr>
		    <tr id='DimmableRow'><td>Dimmable</td><td><div id='DimmableDiv'></div></td></tr>
            <tr id='RoomNameRow'><td>Room</td><td><div id='RoomNameDiv'></div></td></tr>
            <tr id='CoordsRow'><td>Coords</td><td><div id='CoordsDiv'></div></td></tr>
            <tr id='CommentRow'><td>Comment</td><td><div id='CommentDiv'></div></td></tr>
            <tr id='InterfaceRow'><td>Interface</td><td><div id='InterfaceDiv'></div></td></tr>
            <tr id='PortRow'><td>Port</td><td><div id='PortDiv'></div></td></tr>

            <tr id='Row_i01'><td>Insteon Address</td><td><div id='i01Div'></div></td></tr>
            <tr id='Row_i02'><td>DevCat</td><td><div id='i02Div'></div></td></tr>
            <tr id='Row_i03'><td>Group Number</td><td><div id='i03Div'></div></td></tr>
            <tr id='Row_i04'><td>Group List</td><td><div id='i04Div'></div></td></tr>
            <tr id='Row_i05'><td>Master?</td><td><div id='i05Div'></div></td></tr>
            <tr id='Row_i06'><td>Responder?</td><td><div id='i06Div'></div></td></tr>
            <tr id='Row_i07'><td>Product Key</td><td><div id='i07Div'></div></td></tr>
        </table>
        <div id='ControllerEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->