<!-- houseElement.html
-->
<div
	xmlns:athena='http://divmod.org/ns/athena/0.7'
	xmlns:nevow='http://nevow.com/ns/nevow/0.1'
	nevow:render='liveElement'
	class = 'House'
	name = 'HouseDiv'
	id = 'HouseDiv'
	style = "background-color: #d2f2d2;" >
	<form id = "LoginForm">
		<athena:handler event = "onsubmit" handler = "doSubmit" />
		<h2>Enter house information:</h2>
		<table>
			<tr><td>Name</td><td><input id = 'Name' /></td></tr>
			<tr><td>Active</td><td><input id = 'Active' /></td></tr>
			<tr><td>Key</td><td><input id = 'Key' /></td></tr>
		</table>
		<input type = 'submit' value = 'Save' />
	</form>
</div>
<!--
### END DBK -->
 