<!-- lightsElement.html
 -->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = "Lights"
    id = 'LightsDiv'
    style = 'background-color: #d2f2d2;'>
    <div id='LightButtonsDiv'>
       <h2>Select a Light (or Add):</h2>
       <div id='LightTableDiv'>
       </div>
    </div>
    <div id='LightEntryDiv'>
        <h2>Enter Light data (or Delete)</h2>
		<table style = 'Width: 100%;' border="">
            <tr id='nameRow'><td>Name</td><td><div id='NameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='KeyDiv'></div></td>
                <td><div id='UUIDDiv'></div></td></tr>
            <tr id='ActiveRow'><td>Active</td><td><div id='ActiveDiv'></div></td></tr>
            <tr id='TypeRow'><td>Type</td><td><div id='TypeDiv'></div></td></tr>
            <tr id='FamilyRow'><td>Family</td><td><div id='FamilyDiv'></div></td></tr>
            <tr id='DimmableRow'><td>Dimmable</td><td><div id='DimmableDiv'></div></td></tr>
            <tr id='RoomNameRow'><td>Room</td><td><div id='RoomNameDiv'></div></td></tr>
            <tr id='CoordsRow'><td>Coords</td><td><div id='CoordsDiv'></div></td></tr>
            <tr id='CommentRow'><td>Comment</td><td><div id='CommentDiv'></div></td></tr>
		</table>
        <div id='LightEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK  -->
 