<!-- lightsElement.html
 -->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = "Lights"
    id = 'LightsDiv'
    style = 'background-color: #d2f2d2;'>
    <div id='LightButtonsDiv'>
       <h2>Select a Light (or Add):</h2>
       <div id='LightTableDiv'>
       </div>
    </div>
    <div id='LightEntryDiv'>
        <h2>Enter data (or Delete)</h2>
		<table style = 'Width: 100%;' border="">
		    <tr>
		        <td>Name</td><td><input type='text' id='Name' /></td>
		    </tr><tr>
		        <td>Key</td><td><input type='text' id='Key' disabled='disabled' /></td>
                <td><input type="text" id='UUID' size='48' disabled="disabled" /></td>
		    </tr><tr>
		        <td>Active</td><td><div id='ActiveDiv' /></td>
            </tr><tr>
                <td>Comment</td><td><input type='text' id='Comment' /></td>
            </tr><tr>
                <td>Coords</td><td><input type='text' id='Coords' /></td>
            </tr><tr>
                <td>Dimmable</td><td><div id='Dimmable' /></td>
            </tr><tr>
                <td>Family</td><td><input type='text' id='Family' /></td>
            </tr><tr>
                <td>Type</td><td><input type='text' id='Type' /></td>
            </tr><tr>
                <td>Room</td><td><div id='RoomNameDiv' /></td>
		    </tr>
		</table>
        <div id='LightEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK  -->
 