<!-- loginElement.html
 -->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = "login"
    id = 'LoginDiv'
    style = "background-color: #d2f2d2;">
    <div id = 'LoggingInDiv'>
        <form id = "LoginForm">
	        <athena:handler event = "onsubmit" handler = "doLoginSubmit" />
	        <h2>Enter login name:</h2>
	        User Name: <input id = 'LoginName' /><br></br>
	        Password : <input id = 'LoginPassword' type = 'password' /><br></br>
	        <input type = 'submit' value = 'Login' />
	    </form>
    </div>
    <div id = "LoggedInDiv"></div>
</div>
<!-- 
    name = 'LoginDiv'
### END DBK  -->
 