<!-- loginElement.html
 -->
<div 
    xmlns:athena = 'http://divmod.org/ns/athena/0.7'
    xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
    nevow:render = 'liveElement'
    class = "login"
    name = 'LoginDiv'
    id = 'LoginDiv'
    style = "background-color: #c2f2c2;">
    <div id = 'LoggingInDiv'>
        <form id = "LoginForm" name = 'LoginForm'>
	        <athena:handler event = "onsubmit" handler = "doLogin" />
	        <h2>Enter login name:</h2>
	        User Name: <input name = "LoginName" id = 'LoginName' /><br></br>
	        Password : <input name = "LoginPassword" id = 'LoginPassword' type = 'password' /><br></br>
	        <input type = 'submit' value = 'Login' name = 'aaa' />
	    </form>
    </div>
    <div id = "LoggedInDiv" />
</div>
<!-- 
### END DBK  -->
 