<!-- logs.xml
 -->
<div
    xmlns:nevow = "http://nevow.com/ns/nevow/0.1"
    nevow:render = "liveElement"
    class = "Logs"
    id = 'LogsDiv'
    style = "background-color:#d2f2d2;"
    >
    <div id='LogEntryDiv'>
        <h2>Enter Log file locations</h2>
        <table style = 'Width: 100%;' border="">
            <tr id='DebugRow'><td>Debug</td><td><div id='DebugDiv'></div></td></tr>
            <tr id='ErrorRow'><td>Error</td><td><div id='ErrorDiv'></div></td></tr>
        </table>
        <div id='LogEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->
