<!-- rootMenuElement.html
-->
<div
    xmlns:athena='http://divmod.org/ns/athena/0.7'
    xmlns:nevow='http://nevow.com/ns/nevow/0.1'
	nevow:render='liveElement'
	class = 'RootMenu'
	name = 'RootMenuDiv'
    id = 'RootMenuDiv'
    style = "background-color: #d2f2d2;" >
    <h2>Select the menu function.</h2>
	<table style = 'width: 60%;' border = '0'>
		<tr>
			<td><button type = 'button' value = 'Select_House' name = 'Select'>Select House
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' />
                </button></td>
			<td><button type = 'button' value = 'Add House' name = 'House'>Add House
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' /></button></td>
			<td><button type = 'button' value = 'Web Server' name = 'Web'>Web Server
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' /></button></td>
			<td><button type = 'button' value = 'Logs' name = 'Logs'>Logs
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' /></button></td>
		</tr><tr>
			<td><button type = 'button' value = 'Quit'   name = 'Quit'>Quit
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' /></button></td>
			<td><button type = 'button' value = 'Reload' name = 'Reload'>Reload
                <athena:handler event = 'onclick' handler = 'doHandleOnClick' /></button></td>
		</tr>
	</table>
</div>
<!--
### END DBK -->
 