<!-- schedulesElement.xml
 -->
<div 
	xmlns:athena = 'http://divmod.org/ns/athena/0.7'
	xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
	nevow:render = 'liveElement'
	class = "Schedules"
	id = 'SchedulesDiv'
	style = 'background-color: #d2f2d2;'>
	<div id='ScheduleButtonsDiv'>
	   <h2>Select a schedule (or Add):</h2>
	   <div id='ScheduleTableDiv'>
	   </div>
	</div>
	<div id='ScheduleEntryDiv'>
		<h2>Enter Schedule data (or Delete)</h2>
        <table style = 'Width: 50%;'>
            <tr id='NameRow'><td>Name</td><td><div id='NameDiv'></div></td></tr>
            <tr id='KeyRow'><td>Key</td><td><div id='KeyDiv'></div></td>
                <td><div id='UUIDDiv'></div></td></tr>
            <tr id='ActiveRow'><td>Active</td><td><div id='ActiveDiv'></div></td></tr>

            <tr id='TypeRow'><td>Type</td><td><div id='TypeDiv'></div></td></tr>
            <tr id='TimeRow'><td>Time</td><td><div id='TimeDiv'></div></td></tr>
            <tr id='LevelRow'><td>Level</td><td><div id='LevelDiv'></div></td></tr>
            <tr id='RateRow'><td>Rate</td><td><div id='RateDiv'></div></td></tr>
            <tr id='RoomNameRow'><td>Room</td><td><div id='RoomNameDiv'></div></td></tr>
            <tr id='LightNameRow'><td>Light</td><td><div id='LightNameDiv'></div></td></tr>
        </table>
        <div id='ScheduleEntryButtonsDiv'>
        </div>
	</div>
</div>
<!--
### END DBK -->
