<!-- schedulesElement.xml
 -->
<div 
	xmlns:athena = 'http://divmod.org/ns/athena/0.7'
	xmlns:nevow  = 'http://nevow.com/ns/nevow/0.1'
	nevow:render = 'liveElement'
	class = "Schedules"
	id = 'SchedulesDiv'
	style = 'background-color: #c2f2c2;'>
	<div id='ScheduleButtonsDiv'>
	   <h2>Select a schedule (or Add):</h2>
	   <div id='ScheduleTableDiv'>
	   </div>
	</div>
	<div id='ScheduleEntryDiv'>
		<h2>Enter data (or Delete)</h2>
        <table style = 'Width: 100%;' border="">
            <tr>
                <td>Name</td><td><input type='text' id='Name' /></td>
            </tr><tr>
                <td>Key</td><td><input type='text' id='Key' disabled='disabled' /></td>
                <td><input type="text" id='UUID' size='48' disabled="disabled" /></td>
            </tr><tr>
                <td>Active</td><td><div id='Active' /></td>
            </tr><tr>
                <td>Type</td><td><input type='text' id='Type' /></td>
            </tr><tr>
                <td>Time</td><td><input type='text' id='Time' /></td>
            </tr><tr>
                <td>Level</td><td><div id='Level' /></td>
            </tr><tr>
                <td>Rate</td><td><input type='text' id='Rate' /></td>
            </tr><tr>
                <td>Room</td><td><div id='RoomName' /></td>
            </tr><tr>
                <td>Light</td><td><div id='LightName' /></td>
            </tr>
        </table>
        <div id='ScheduleEntryButtonsDiv'>
        </div>
	</div>
</div>
<!--
### END DBK -->
