<!-- PyHouse/src/web/templates/logs.html
 -->
<div id='LogsDiv'
    xmlns:nevow = "http://nevow.com/ns/nevow/0.1"
    nevow:render = "liveElement"
    class = "Logs"
    >
    <div id='LogEntryDiv'>
        <h2>Enter Log file locations</h2>
        <table style = 'Width: 100%;'>
            <tr id='DebugRow'><td>Debug</td><td><div id='DebugDiv'></div></td></tr>
            <tr id='ErrorRow'><td>Error</td><td><div id='ErrorDiv'></div></td></tr>
        </table>
        <div id='LogEntryButtonsDiv'>
        </div>
    </div>
</div>
<!--
### END DBK -->
